.main-chat
  .main-chat__group-info
    .main-chat__group-left Test
    = link_to 'Edit', class: "edit-btn"
    .main-chat__group-left__bottom Member : mami

  .main-chat__message-list
    .main-chat__message-list__namedate
      .main-chat__message-list__name mami
      .main-chat__message-list__date 2019/11/20(Wed) 17:43:01
    .main-chat__message-list__content おはよう！
  .main-chat__message-form
    .main-chat__message-form__content
      .main-chat-message-form__white
        .main-chat__message-form__text type a message
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file"}
      .main-chat__message-form__send-btn Send

