.side-bar
 .side-bar__user-name
  .side-bar__user-name-box
   .side-bar__user-name-text mami
   .side-bar__user-name-menu
    .side-bar__user-name__edit
     = link_to "#", class: "edit_btn" do
      = icon('far', 'edit')
    .side-bar__user-name__new
     = link_to "#", class: "new_btn" do
      = icon('fas', 'cog')

 .side-bar__group-list 
  .side-bar__group-top techcamp
  .side-bar__group-bottom