$selection-color: white;
$select1-color: #253141;
$select2-color: #2f3e51;
$select3-color: #333333;
$select4-color: #999999;
$select5-color: #38aef0;
$select6-color: #fafafa;
$select7-color: #434A54;
$select8-color: #d2d2d2;