* {
  box-sizing: border-box;
}


.side-bar {
  float: left;
  &__user-name {
    background-color: $select1-color;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;

    &-box {
      height: 20px;
      width: 260px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    &-text {
      line-height: 20px;
      color: $selection-color; 
    }
    &-menu {
      height: 20px;
      width:60px;
      display: flex;
      justify-content: flex-end;
    }

     .side-bar__user-name__edit {
       text-decoration: none;
       margin-right: 5px;

      .edit-btn {
        color: $selection-color;
      }
     }
      .setting-btn {
        text-decoration: none;
        color: $selection-color;

      }
    }
  }
 .side-bar__group-list {
   background-color: $select2-color;
   height: calc(100vh - 100px);
   width: 300px;

   .side-bar__group-top {
     color: $selection-color;
     font-size: 15px;
     padding-top: 20px;
     padding-bottom: 5px;
     margin-left: 20px;
     margin-right: 20px;
   }
   .side-bar__group-bottom {
     font-size: 11px;
     padding-bottom: 40px;
     margin-left: 20px;
     margin-right: 20px;
   }
 }




.main-chat {
  float: right;
  width: calc(100vw - 300px);
  height: 100vh;

  &__group-info {
   background-color: $selection-color;
   height: 100px;
   position: relative;

    .main-chat__group-left {
      color: $select3-color;
      padding-top: 35px;
      padding-bottom: 15px;
      margin-left: 40px;
      font-size: 20px;
     
     }
    .main-chat__group-left__bottom {
        color: $select4-color;
        font-size: 12px;
        margin-left: 40px;
      }
    
    a {
       color: $select5-color;
       font-size: 16px;
       border: 1px solid;
       text-decoration: none;
       line-height: center;
       position: absolute;
       right: 40px;
       top: 28px;
       padding-left: 20px;
       padding-right:20px;
       padding-top: 6px;
       padding-bottom: 6px;
       margin-bottom: 32px;
     }
  }
  
  &__message-list {
   height: calc(100vh - 190px);
   background-color: $select6-color;
   padding-left: 40px;
   padding-top: 35px;

    &__namedate {
      display: flex;
      justify-content: left;
      margin-bottom: 12px;

      .main-chat__message-list__name {
     color: $select3-color;
     font-size: 16px;
     float: left;
   }

      .main-chat__message-list__date {
     color: $select4-color;
     font-size: 12px;
     float: right;
     margin-left: 5px;
   }
  }
    .main-chat__message-list__content {
     color: $select7-color;
     font-size: 14px;
     margin-bottom: 46px;
   }
  }
  &__message-form {
    background-color: $select8-color;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  

    &__content {
      height: 50px;
      padding-right: 10px;
      position: absolute;
      left: 40px; 
      display: flex;
      margin: auto;

      .main-chat-message-form__white {
        display: flex;
        justify-content: space-between;
        background-color: $selection-color;
        margin-right: 15px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;

        .main-chat__message-form__text {
          padding-top: 10px;
          padding-left: 10px;
          padding-right: 800px;
          color: $select4-color;
      } 
      .input-box__image{
        input{
          display: none;
      }
     }
    }
      .main-chat__message-form__send-btn {
        background-color: $select5-color;
        color: $selection-color;
        padding-bottom: 5px;
        padding-top: 10px;
        padding-right: 15px;
        padding-left: 15px;
        position: right;
        margin-right: 40px;
        text-align: center;
      }
    }
  }

}

